<div class="VistaTablero">

  <div class="header">

    <div class="DataGeneral">
      <p>Ronda: {{dataGeneralBoard.ronda.numero}} | Jugadores: {{dataGeneralBoard.tablero.jugadores.length}}/5 | Tiempo: {{temporizador}}s</p>
    </div>

    <button *ngIf="playEnable" (click)="iniciarRonda()" > Iniciar </button>

  </div>

  <div class="CartasPuestas" >

    <div class="cartaTablero">
      <img src="../../../../assets/Image/board/cartaOculta.png" alt="cartaTablero">
    </div>

    <div class="cartaTablero">
      <img src="../../../../assets/Image/board/cartaOculta.png" alt="cartaTablero">
    </div>

    <div class="cartaTablero">
      <img src="../../../../assets/Image/board/cartaOculta.png" alt="cartaTablero">
    </div>

    <div class="cartaTablero">
      <img src="../../../../assets/Image/board/cartaOculta.png" alt="cartaTablero">
    </div>

    <div class="cartaTablero">
      <img src="../../../../assets/Image/board/cartaOculta.png" alt="cartaTablero">
    </div>

    <div class="cartaTablero">
      <img src="../../../../assets/Image/board/cartaOculta.png" alt="cartaTablero">
    </div>

    <div class="cartaTablero">
      <img src="../../../../assets/Image/board/cartaOculta.png" alt="cartaTablero">
    </div>

    <div class="cartaTablero">
      <img src="../../../../assets/Image/board/cartaOculta.png" alt="cartaTablero">
    </div>

    <div class="cartaTablero">
      <img src="../../../../assets/Image/board/cartaOculta.png" alt="cartaTablero">
    </div>

    <div class="cartaTablero">
      <img src="../../../../assets/Image/board/cartaOculta.png" alt="cartaTablero">
    </div>


  </div>

</div>

<div class="VistaMazo">

  <div class="slider">

    <div *ngFor="let carta of cartasCurrentUser" class="CartaMazo">
      <img src="../../../../assets/cartasImages/{{carta.cartaId}}" alt="imagenMarvel">
      <div class="ButtonMasPuntos"><button>Poner: {{carta.poder}}</button></div>
    </div>

  </div>


</div>


