<div class="VistaTablero">

  <div class="header">

    <div class="DataGeneral">
      <p>Ronda: {{numeroRonda}} | Jugadores: {{jugadoresTablero}}/5 | Tiempo: {{tiempo}}s</p>
    </div>

    <button *ngIf="playEnable" (click)="iniciarRonda()" > Iniciar </button>

  </div>

  <div class="CartasPuestas" >

    <div class="cartaTablero" *ngFor="let card of cartasDelTablero">
      <img src="../../../../assets/Image/board/cartaOculta.png" alt="cartaTablero">
    </div>

  </div>

</div>

<div class="VistaMazo">

  <div class="slider">

    <div *ngFor="let carta of cartasDelJugador" class="CartaMazo">
      <img src="../../../../assets/cartasImages/{{carta.cartaId}}" alt="imagenMarvel">
      <div (click)="ponerCarta(carta.cartaId)" class="ButtonMasPuntos"><button>Poner: {{carta.poder}}</button></div>
    </div>

  </div>


</div>


