
.listarJuegos{

  margin: 17.5vh auto;
  width: 62%;
  height: 65vh;
  border-radius: .8em;
  background-color: white;
  padding-top: 3em;

}

.table-generated{
  text-align: center;
}

#table{
  margin: 0 auto;
}

#table tbody tr td {
  margin-left: 4em;
  margin-right: 4em;
}

