/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: #0D0A20;
}

button{
  border: none;
  background-color: rgb(224, 224, 224);
}button:hover{
  background-color: rgb(179, 179, 179);
  cursor: pointer;
}
