<div class="crearJuego">

  <header>Crear Juego</header>

  <hr>

  <table class="GeneratedTable">
    <thead>
      <tr>
        <th>Nombres</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><label>Jugador #1</label> <input type="checkbox"></td>
      </tr>
      <tr>
        <td><label>Jugador #2</label> <input type="checkbox"></td>
      </tr>
      <tr>
        <td><label>Jugador #3</label> <input type="checkbox"></td>
      </tr>
    </tbody>
  </table>

  <button class="buttonCrearJuego" (click)="crearGame()" >Crear Juego</button>

</div>
