.homeView{
  margin: 9.5% auto;
  width: 50%;
  height: 60vh;
  border-radius: .8em;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(1em);
}

.btnContainer{

  display: flex;
  flex-direction: column;
  width: 60%;
  -ms-flex-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12%;

}

.btnContainer button{

  height: 3.5em;
  border-radius: .6em;
  margin-top: .5em;
  background-color: rgb(244, 65, 65);
  color: white;

}.btnContainer button:hover{

  background-color: rgb(231, 56, 56);

}
